{% if page.giscus == true %}
<h1 class="giscust">Discussions</h1>

<div class="giscus">
    <script src="https://giscus.app/client.js"
        data-repo="jobyreuben/journals"
        data-repo-id="R_kgDOKf2MHA"
        data-category="Announcements"
        data-category-id="DIC_kwDOKf2MHM4CapuX"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
</div>
{% endif %}